@model RepositoryDesignPattern.EntityLayer.Concrete.Product
@{
	Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<title>Ürün Sayfası</title>
<div class="container">
	<br />
	<form method="post">
		<input type="hidden" asp-for="ProductId" />
		<label>Ürün Adı</label>
		<input type="text" asp-for="ProductName" class="form-control" />
		<br />
		<label>Ürün Fiyatı</label>
		<input type="text" asp-for="ProductPrice" class="form-control" />
		<br />
		<label>Ürün Stok Sayısı</label>
		<input type="text" asp-for="ProductStock" class="form-control" />
		<br />
		<label>Ürün Kategorisi</label>
		@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
		<br />
		<button class="btn btn-outline-dark">Güncelle</button>
	</form>
</div>