@model RepositoryDesignPattern.EntityLayer.Concrete.Category
@{
	Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<title>Kategori Sayfası</title>
<div class="container">
	<br />
	<form method="post">
		<input type="hidden" asp-for="CategoryId"/>
		<label>Kategori Adı</label>
		<input type="text" asp-for="CategoryName" class="form-control" />
		<br />
		<button class="btn btn-outline-dark">Güncelle</button>
	</form>
</div>
